<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Index</title>
  </head>
  <body>
    <header>
      <h1 id="bienvenida">🐶 ¡Bienvenido a Manada de Amantes Perrunos! 🐾</h1>
    </header>
    <section>
      <p id="parrafo1">
        Si los perros son tu felicidad, has encontrado tu lugar. En este rincón
        perruno compartimos todo lo que necesitas saber para cuidar, entender y
        consentir a tu mejor amigo de cuatro patas.
      </p>
      <img class="perrito" src="/img/perro2.png" alt="perro2" />
    </section>
    <nav>
      <h5>Aquí encontrarás:</h5>
      <ul class="fondo">
        <li>
          <a href="consejos"
            >Consejos para una vida perruna saludable y feliz.</a
          >
        </li>
        <li>
          <a href="historias">Historias inspiradoras de peludos increíbles.</a>
        </li>
        <li>
          <a href="resenas">Reseñas de productos para mimar a tu perro. </a>
        </li>
        <li>
          <a href="curiosidades">
            Curiosidades y datos que te harán amar aún más a tu compañero fiel.
          </a>
        </li>
      </ul>
      <div>
        <p>
          Porque sabemos que un perro no es solo una mascota… ¡es familia! 🐾💙
        </p>
      </div>
      <p>🐕‍🦺 ¡Explora, aprende y disfruta con nosotros!</p>
      <table>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
        <tr>
          <td>Florencia</td>
          <td>Secco</td>
        </tr>
        <tr>
          <td>Felipe</td>
          <td>Shurman</td>
        </tr>
        <tr>
          <td>Chanchito</td>
          <td>Feliz</td>
        </tr>
      </table>
      <div class="position">
        <p class="elemento">Aprendiendo de posicion</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel provident numquam omnis, reprehenderit similique dolore nesciunt eum assumenda minus magni dolores sint est non. Rerum fuga eos iste quis expedita.</p>
      </div>
      <div class="container">
        <img class="left" src="/img/perro2.png"/>
        <p>Soy un parrafo a la derecha</p>
      </div>
    </nav>
    <footer>
      <a href="#bienvenida">Bienvenida</a>
      <br />
      <a href="contact">Contactanos</a>
      <br />
      <a href="quienessomos">Quienes Somos?</a>
    </footer>
  </body>
</html>
