<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Quienes Somos</title>
</head>
<body>
    <h1>🐶 Sobre Nosotros: Una Manada de Amantes Perrunos</h1>
    <p>Somos un grupo de apasionados por los perros que creemos que la vida es mejor con patitas y colitas felices. En este blog compartimos historias, consejos, curiosidades y todo lo que un amante perruno necesita saber para hacer aún más feliz a su mejor amigo de cuatro patas. ¡Bienvenido a la manada! 🐾✨</p>
</body>
</html>