* {
  box-sizing: border-box;
}

body {
  background-color:#f5d0f9;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  color: blue;
  text-shadow: 1px 1px 12px red;
}

p#parrafo1 {
  color: red;
  font-style: italic;
}
p {
  color: darkviolet;
}

div p {
  color: darkolivegreen;
}
a {
  color: darkred;
}
a:visited{
  color: red;
}
a:hover{
  color: black;
}
a:active{
  color: blue;
}
ul{
  list-style-position: inside;
}
@keyframes perro {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.perrito {
  animation: perro 10s 1;
}




